%div.line.top
  %div.pimg
    %img{:src => "/img/tfolder-d.png", :height => "32px", :width => "32px"}
  %a{:href => @bl_url}
    = @bl_title
  %div.right
    %a{:href => "/play/#{@bl_curl}.pls"}
      %img{:src => "/img/play-d.png", :height => "20px", :width => "20px"}
    

