#footer
  .content  
    %ul
      %li
        %a{:href => "/about"} About
      %li 
        %a{:href => "//github.com/entropie/bagpipe"} Bagpipe on Github
      %li
        %a{:href => "//twitter.com/mictro"} @mictro
