%h1 Player
%h2
  %em= @title
#playlista{}
  - @playlist.each do |entry|
    %div{:style => "clear:both"}
    .item{:href => entry.url, :style => "width:100%"}
      %div
        .btn.play
        .title= entry.name
      .player.inactive
#ext
  
