.fl 
{
float:left;
}

.fr 
{
float: right;
}
.clear { clear: both; line-height: 0px !important; font-size: 0px !important; height: 0 !important }

b 
{
   color:   #555555; 
   font-weight: bold;
}

.duration 
{
    font-size:10px;
    color:#777;
}

.btn.play 
{
    width:20px;
    height:20px;
    background-image: url(/img/play.png);
}

.btn.pause
{
    width:20px;
    height:20px;
    background-image: url(/img/pause.png);
    opacity:1 !important;
}

.btn.paused
{
    width:20px;
    height:20px;
    background-image: url(/img/play.png);
    display: inline-block;
}


div.player 
{
}

div.player.inactive
{
    margin:0px;
    display:none;
}

.item .title 
{
    -vertical-align:middle;
}

.item .btn 
{
    display:inline;
    float:left; 
    margin-right:10px;
    cursor:pointer;
    margin-left:10px;
}
